<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.flatcode.beautytouchadmin.Unit.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="false"
        android:theme="@style/OneTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"
        tools:targetApi="33">
        <activity
            android:name="com.flatcode.beautytouchadmin.Activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.ToolsActivity" />
        <activity android:name=".Activity.AboutMeActivity" />
        <activity android:name=".Activity.ShoppingCentresEditActivity" />
        <activity android:name=".Activity.ShoppingCentersAddActivity" />
        <activity android:name=".Activity.PostEditActivity" />
        <activity android:name=".Activity.ADsInfoActivity" />
        <activity android:name=".Activity.ADsMeterActivity" />
        <activity android:name=".Auth.LoginActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.SessionOldInfoActivity" />
        <activity android:name=".Activity.SessionNowInfoActivity" />
        <activity android:name=".Activity.PostDetailsActivity" />
        <activity android:name=".Activity.PostAddActivity" />
        <activity android:name=".Activity.SliderShowActivity" />
        <activity android:name=".Activity.ShoppingCentersActivity" />
        <activity android:name=".Activity.HotProductActivity" />
        <activity android:name=".Activity.UserDetailActivity" />
        <activity android:name=".Activity.PostsActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.UsersActivity" />
        <activity android:name=".Auth.ForgetPasswordActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>