<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="all">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".unit.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="false"
        android:theme="@style/Theme.MC.S1"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        tools:replace="android:supportsRtl"
        tools:targetApi="31">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ToolsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutMeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShoppingCentresEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShoppingCentersAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PostEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ADsInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ADsMeterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SessionOldInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SessionNowInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PostDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PostAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SliderShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShoppingCentersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HotProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PostsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.ForgetPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>